*{
    margin:0;
    padding: 0;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
a:visited{
    color:black;
}
:root {
    --primario: #c2c8da;
    --secundario: #949cdf;
    --navbar: #949cdf8e;
    --acento: #ffc857;
    --complementario: #db7f8e;
    --neutro: #f7f7f7;
}


.navbar-container{
    background-color: var(--navbar);
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    box-shadow: 0px 5px 15px black ;
    backdrop-filter: blur(8px);
}
.navbar--logo{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.navbar-img--menu{
    width: 60px;
    justify-self: center;
    transition: all  0.5s;
    transform: rotate(0);
}

.toggle-menu:checked ~ label >.navbar-img--menu{
    transform: rotate(180deg);
}


.toggle-menu{
    display: none;
}

.navbar{
    position: absolute;
    margin-top: 80px;
    text-align: center;
    display: none;
}

.navbar li{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secundario);
    box-shadow: 0px 5px 15px black ;
}

.toggle-menu:checked ~ .navbar {
    display: block;
}

.campus-access{
    display: none;
}
.navbar-container span{
    background-color: var(--acento);
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-container span:hover{
    box-shadow: 0px 5px 15px black ;
}

/* hero  */
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1,h2{
    width: 90%;
}
.hero-img{
    width: 90vw;
}
.hero-logo{
    width: 50px;
    display: none;
}
.hero-posttitle{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* cards */
.languages{
    margin-top: 20rem;
}

.languages-title{
    text-align: center;
    padding-left: 4rem;
    margin-bottom: 4rem;
}

.cards-container{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-gap: 20px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    background-color: var(--secundario);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.678);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.5s;
}

.card:hover{
    box-shadow: 5px 5px 10px black;
}


.toggle-cards{
    display: none;
}

.card-img{
    width: 150px;
    height: 150px;
}

.img-cthulhu{
    width: 200px;
    height: 120px;

}

.img-sindarin{
    width: 250px;
}

.toggle-info-card {
    display: none;
}

.toggle-cards:checked ~ .card-img {
    display: none;
}

.toggle-cards:checked ~ .toggle-info-card {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

label:hover{
    cursor: pointer;
}

.triangulo{
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}

.triangulo:active{
    transform: rotate(180deg);
}

.dothraki{
    width: 250px;
}



/* servicios */


.services {
    margin-top: 8rem;
    padding: 2rem;
}

.services h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.service-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
}

.service-card {
    flex-basis: 30%;
    background-color:var(--primario);
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.301);
    text-align: center;
}

.service-card h3 {
    margin-bottom: 0.5rem;
}

.service-card p {
    color: #666;
    font-size: 20px;
}

/* fin servicios */



/* contacto */

.contacto {
    margin-top: 8rem;
    padding: 2rem;
    font-size: 20px;
}

.contacto h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

/* fin contacto */


/* footer */

footer {
    font-size: 20px;
    background-color: #333;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction:column;
    padding-left: 1rem;
    gap: 2rem;
}


.footer-column h3 {
    margin-bottom: 1rem;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 2rem;
    background-color: #222;
    padding: 1rem 0;
    text-align: center;
}

/* fin footer */